<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <timestamp key="byMinute" datePattern="ddMMyy-HH:mm"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <encoder>
            <pattern>%X{akkaTimestamp} %logger{0} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="APPLICATION" class="ch.qos.logback.core.FileAppender">
        <file>logs/application-${byMinute}.log</file>
        <append>true</append>
        <encoder>
            <pattern>%date{yyyy-MM-dd} %X{akkaTimestamp} %-5level %logger{1} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="REQUESTS" class="ch.qos.logback.core.FileAppender">
        <!--<file>logs/requests-${byMinute}.log</file>-->
        <file>logs/requests.log</file>
        <append>true</append>
        <encoder>
            <pattern>%date{yyyy-MM-dd} %X{akkaTimestamp} %-5level %logger{1} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="SUCCESSES" class="ch.qos.logback.core.FileAppender">
        <!--<file>logs/success-${byMinute}.log</file>-->
        <file>logs/successes.log</file>
        <append>true</append>
        <encoder>
            <pattern>%date{yyyy-MM-dd} %X{akkaTimestamp} %-5level %logger{1} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FAILURES" class="ch.qos.logback.core.FileAppender">
        <!--<file>logs/failure-${byMinute}.log</file>-->
        <file>logs/failures.log</file>
        <append>true</append>
        <encoder>
            <pattern>%date{yyyy-MM-dd} %X{akkaTimestamp} %-5level %logger{1} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="EXCEPTIONS" class="ch.qos.logback.core.FileAppender">
        <!--<file>logs/failure-${byMinute}.log</file>-->
        <file>logs/exceptions.log</file>
        <append>true</append>
        <encoder>
            <pattern>%date{yyyy-MM-dd} %X{akkaTimestamp} %-5level %logger{1} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="ANALYTICS" class="ch.qos.logback.core.FileAppender">
        <!--<file>logs/analytics-${byMinute}.log</file>-->
        <file>logs/analytics.log</file>
        <append>true</append>
        <encoder>
            <pattern>%date{yyyy-MM-dd} %X{akkaTimestamp} %-5level %logger{1} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="requests" additivity="false">
        <appender-ref ref="REQUESTS"/>
    </logger>

    <logger name="successes" additivity="false">
        <appender-ref ref="SUCCESSES"/>
    </logger>

    <logger name="failures" additivity="false">
        <appender-ref ref="FAILURES"/>
    </logger>

    <logger name="exceptions" additivity="false">
        <appender-ref ref="EXCEPTIONS"/>
    </logger>

    <logger name="analytics" additivity="false">
        <appender-ref ref="ANALYTICS"/>
    </logger>

    <root level="DEBUG">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="APPLICATION"/>
    </root>

</configuration>