<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <encoder>
            <pattern>%X{akkaTimestamp} %logger{0} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="APPLICATION" class="ch.qos.logback.core.FileAppender">
        <file>logs/app.log</file>
        <append>true</append>
        <encoder>
            <pattern>%date{yyyy-MM-dd} %X{akkaTimestamp} %-5level %logger{1} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="REQUESTS" class="ch.qos.logback.core.FileAppender">
        <file>logs/requests.log</file>
        <append>true</append>
        <encoder>
            <pattern>%date{yyyy-MM-dd} %X{akkaTimestamp} %-5level %logger{1} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="SUCCESS" class="ch.qos.logback.core.FileAppender">
        <file>logs/success.log</file>
        <append>true</append>
        <encoder>
            <pattern>%date{yyyy-MM-dd} %X{akkaTimestamp} %-5level %logger{1} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FAILURE" class="ch.qos.logback.core.FileAppender">
        <file>logs/failure.log</file>
        <append>true</append>
        <encoder>
            <pattern>%date{yyyy-MM-dd} %X{akkaTimestamp} %-5level %logger{1} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="ANALYTICS" class="ch.qos.logback.core.FileAppender">
        <file>logs/analytics.log</file>
        <append>true</append>
        <encoder>
            <pattern>%date{yyyy-MM-dd} %X{akkaTimestamp} %-5level %logger{1} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="requests" additivity="false">
        <appender-ref ref="REQUESTS"/>
    </logger>

    <logger name="success" additivity="false">
        <appender-ref ref="SUCCESS"/>
    </logger>

    <logger name="failure" additivity="false">
        <appender-ref ref="FAILURE"/>
    </logger>

    <logger name="analytics" additivity="false">
        <appender-ref ref="ANALYTICS"/>
    </logger>

    <root level="DEBUG">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="APPLICATION"/>
    </root>

</configuration>